{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Магазины
{% endblock %}

{% block all_content %}
<div class="shops_main_block">
    <h1 class="text-center">Магазины</h1>
    <div class="row row-cols-1 row-cols-md-5 g-4">
        {% for shop in shops %}
        <div class="col">
            <div class="shop_card">
                {% if shop.avatar %}
                <img src="{{ shop.avatar.url}}" class="img-fluid mx-auto d-block" alt="..." style="border-radius:10px; width:200px; height:200px; margin:auto;">
                {% else %}
                <h2 class="text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                         class="bi bi-image"
                         viewBox="0 0 16 16">
                        <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                        <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
                    </svg>
                    Фото недоступно
                </h2>
                {% endif %}
                <h4 class="text-center border-bottom">{{shop.shop_name}}</h4>
                <h5 class="text-center">{{shop.subject_matter}}</h5>
                <h5 class="text-center">{{shop.address}}</h5>
                <div class="text-center d-grid gap-2">
                    <a href="{% url 'shop_page' shop.url_name %}" class="btn btn-outline-light btn-sm">Перейти к каталогу</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


</div>

{% endblock %}